@use 'sass:map';
@use 'variables' as var;
@use '@angular/material' as mat;

@use '../core' as core;
@use '../text' as text;
@use '../mouse' as mouse;
@use '../scroll' as scroll;
@use 'bootstrap' as bootstrap;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';


// Material
@mixin material() {
    textarea {
        &.cdk-textarea-autosize {
            overflow-y: hidden !important;
        }
    }
    mat-chip:focus,
    mat-tab-group {
        outline: 0;
    }
    mat-dialog-container {
        &:hover:not(.minimized) {
            vi-window-resize-element {
                display: block !important;
            }
        }
        vi-window-resize-element {
            width: 32px;
            right: -16px;
            bottom: -16px;
            display: none !important;
            pointer-events: none;
        }
    }
    mat-bottom-sheet-container {
        padding: 0 !important;
        overflow: visible !important;
        & > :first-child {
            height: 100%;
            border-radius: var.$border-radius;
            @include scroll.vertical();
        }
    }
    mat-form-field {
        &.no-underline {
            .mdc-text-field {
                border-bottom-left-radius: var.$border-radius;
                border-bottom-right-radius: var.$border-radius;
                .mdc-line-ripple {
                    display: none;
                }
            }
        }
    }
    mat-dialog-container,
    mat-bottom-sheet-container {
        vi-window-close-element,
        vi-window-expand-element,
        vi-window-minimize-element {
            top: -16px;
            width: 32px;
            height: 32px;
        }
        vi-window-close-element {
            right: -16px;
        }
        vi-window-expand-element,
        vi-window-minimize-element {
            right: 24px;
        }
        @include media-breakpoint-down(lg) {
            vi-window-close-element {
                right: 16px;
            }
            vi-window-expand-element,
            vi-window-minimize-element {
                right: 56px;
            }
        }
    }
    mat-cell {
        color: inherit !important;
    }
    mat-header-cell {
        &:not(:hover),
        &.mat-sort-header-disabled {
            color: inherit !important;
        }
    }

    mat-expansion-panel {
        border-radius: 0 !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        &:last-child {
            border-bottom: none !important;
        }
        &:not([class*='mat-elevation-z']) {
            box-shadow: none !important;
        }
        &.mat-expansion-panel-spacing {
            margin: 0 !important;
        }
        mat-expansion-panel-header {
            height: auto !important;
            padding: 1rem !important;
            &.mat-expanded {
                height: auto !important;
            }
        }
        .mat-expansion-panel-body {
            padding: 0 !important;
        }
    }

    mat-progress-bar {
        &.border {
            height: 1px;
            border: none !important;
            .mdc-linear-progress__buffer {
                .mdc-linear-progress__buffer-dots {
                    display: none;
                }
            }
        }
        &.transparent {
            .mdc-linear-progress__buffer {
                .mdc-linear-progress__buffer-dots {
                    display: none;
                }
            }
        }
    }
    mat-table {
        background: none !important;
    }
    mat-paginator {
        background: none !important;
    }
    .mat-icon {
        width: unset !important;
        height: unset !important;
    }
    .cdk-global-scrollblock {
        overflow-y: auto;
    }
    .cdk-overlay-pane {
        &.vi-window,
        &.vi-notification {
            position: absolute !important;
        }
        &.vi-draggable,
        &.vi-resizeable {
            border-radius: var.$border-radius;
        }
        &.vi-window {
            border: 2px solid transparent;
        }
        &.minimized {
            height: auto !important;
            min-height: 40px !important;
        }
        &.vi-blink {
            border-width: 2px;
            border-style: solid;
            animation: blink 1s;
            animation-iteration-count: 3;
            // @keyframes blink { 50% { border-color:#fff ; }  }
        }
        .mat-mdc-select-panel {
            padding: 0 !important;
            border-style: solid;
            border-width: 1px;
            border-radius: var.$border-radius;
        }
        .mat-mdc-menu-content {
            padding: 0 !important;
        }
        .mat-mdc-menu-panel {
            max-width: none !important;
            max-height: none !important;
            min-height: 0px !important;
        }
    }
    .mdc-tooltip__surface {
        max-height: inherit !important;
    }
    .mat-mdc-paginator-range-label {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    // Text
    .mat-h1,
    .mat-h2,
    .mat-h3,
    .mat-h4,
    .mat-h5,
    .mat-h6,
    .mat-body,
    .mat-body-1,
    .mat-body-2,
    .mat-body-strong,
    .mat-small,
    .mat-caption,
    .mat-subtitle-1,
    .mat-subtitle-2,
    .mat-headline-1,
    .mat-headline-2,
    .mat-headline-3,
    .mat-headline-4,
    .mat-headline-5,
    .mat-headline-6 {
        margin: 0;
    }
}

@mixin core() {
    @include mat.core();
    @include core.core();
    @include bootstrap.core();
    @include material();
}
