<mat-table matSort [dataSource]="table?.table?.dataSource" [trackBy]="table.trackByFn" [matSortActive]="sortActive" [matSortDirection]="sortDirection"
    [class.mat-nav-list]="settings?.isInteractive" (matSortChange)="table.sortEventHandler($event)">
  
    <ng-container *ngFor="let column of columns;trackBy:columnTrackBy">
        <ng-container [matColumnDef]="column.name">
            <mat-header-cell class="px-2" mat-sort-header [disableClear]="true" [disabled]="column.isDisableSort" [ngClass]="column.headerClassName" 
                *matHeaderCellDef>
                <span [innerHTML]="column.headerId | viTranslate"></span>
            </mat-header-cell>
  
            <mat-cell class="px-2" (click)="cellClickHandler(row, column)" *matCellDef="let row" 
                [ngClass]="row | viCdkTableColumnClassName: column" [ngStyle]="row | viCdkTableColumnStyleName: column" >
                <span [ngClass]="column | viCdkTableCellClassName" [vi-html-content-title]="row | viCdkTableColumnValue: column"></span>
            </mat-cell>

        </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    
    <mat-row class="mat-list-item" *matRowDef="let row; columns: columnNames"
        [ngClass]="row | viCdkTableRowClassName: rows : selectedRows" [ngStyle]="row | viCdkTableRowStyleName: rows : selectedRows"
        (click)="rowClicked.emit(row)"></mat-row>

</mat-table>

<p class="p-3 text-center mouse-inactive" *ngIf="table?.length === 0" [innerHTML]="settings?.noDataId | viTranslate"></p>

<mat-progress-bar class="flex-shrink-0 border transparent" mode="indeterminate" *ngIf="table?.isLoading"
    style="margin-bottom: -1px;"></mat-progress-bar>

<mat-paginator class="justify-content-center border-sm-top" [pageSize]="table?.pageSize" [pageIndex]="table?.pageIndex" [length]="table?.total"
    (page)="table?.pageEventHandler($event)"
    [pageSizeOptions]="paginator?.pageSizes" [showFirstLastButtons]="paginator?.showFirstLastButtons" 
    [hidePageSize]="paginator?.hidePageSize" *ngIf="paginator && table?.length > 0"></mat-paginator>