<mat-table
    class="flex-grow-1 vertical-scroll-only"
    matSort
    [dataSource]="table?.table?.dataSource"
    [trackBy]="table.trackByFn"
    [matSortActive]="sortActive"
    [matSortDirection]="sortDirection"
    [class.mat-nav-list]="settings?.isInteractive"
    (matSortChange)="table.sortEventHandler($event)"
>
    <ng-container *ngFor="let column of columns; trackBy: columnTrackBy">
        <ng-container [matColumnDef]="column.name">
            <mat-header-cell
                class="px-2"
                mat-sort-header
                [disableClear]="true"
                [disabled]="column.isDisableSort"
                [ngClass]="column.headerClassName"
                *matHeaderCellDef
            >
                <span [innerHTML]="column.headerId | viTranslate"></span>
            </mat-header-cell>

            <mat-cell
                class="p-2"
                (click)="cellClickHandler(row, column, $event)"
                *matCellDef="let row"
                [ngClass]="row | viCdkTableColumnClassName: column"
                [ngStyle]="row | viCdkTableColumnStyleName: column"
            >
                <ng-container [ngSwitch]="column.isImage">
                    <img
                        *ngSwitchCase="true"
                        [ngClass]="row | viCdkTableCellClassName: column"
                        [ngStyle]="row | viCdkTableCellStyleName: column"
                        [src]="column.isAsync ? (row | viCdkTableCellValue: column) : (row | viCdkTableCellValuePure: column)"
                    />
                    <span
                        *ngSwitchDefault
                        [ngClass]="row | viCdkTableCellClassName: column"
                        [ngStyle]="row | viCdkTableCellStyleName: column"
                        [vi-html-content-title]="column.isAsync ? (row | viCdkTableCellValue: column) : (row | viCdkTableCellValuePure: column)"
                    ></span>
                </ng-container>
            </mat-cell>
        </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>

    <mat-row
        class="mat-list-item"
        *matRowDef="let row; columns: columnNames"
        [ngClass]="row | viCdkTableRowClassName: rows:selectedRows"
        [ngStyle]="row | viCdkTableRowStyleName: rows:selectedRows"
        (click)="rowClickHandler(row, $event)"
    ></mat-row>

    <p class="p-3 flex-shrink-0 text-center mouse-inactive" [vi-translate]="settings?.noDataId" *matNoDataRow></p>
</mat-table>

<mat-progress-bar class="flex-shrink-0 border" [mode]="table?.isLoading ? 'indeterminate' : 'determinate'"></mat-progress-bar>

<div class="paginator-container d-flex align-items-center justify-content-end flex-shrink-0">
    <ng-content></ng-content>
    <mat-paginator
        class="flex-shrink-0"
        [pageSize]="table?.pageSize"
        [pageIndex]="table?.pageIndex"
        [length]="table?.total"
        (page)="table?.pageEventHandler($event)"
        [pageSizeOptions]="paginator?.pageSizes"
        [showFirstLastButtons]="paginator?.showFirstLastButtons"
        [hidePageSize]="paginator?.hidePageSize"
        *ngIf="paginator"
    ></mat-paginator>
</div>
