@mixin no() {
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
@mixin auto() {
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
@mixin vertical() {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
@mixin horizontal() {
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}